.box{
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}


.second_box{
    display: flex;
    
    margin-top: 25px;
    justify-content: space-between;
    background-color: white;
    align-items: flex-start;
    padding: 25px;
}

.third_box{
   display: flex;
  justify-content: space-between;
  background-color: white;
  margin-top: 25px;
  padding: 25px rosybrown;
  
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 960px;
  
  border: solid 1px black;
}

body {
  background-color: rosybrown;
  margin: 0%;
}

.wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
  

 
}

header .two{

  margin-bottom: 5em;
  display: flex;
  flex-wrap: wrap;
  background-color: #861717;
  padding: 25px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: #e0baba;
}

h2 {
  font-size: 3rem;
  text-align: left;
}
